body{
    background-color: #020126;
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.options{
    margin:10px;
}
.flex-container{
    margin-top: 20px;
   
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;
   
    
}

.flex-item{color:white;
    background: #F230D2;
    border: 1pt solid black;
    width: 20px;
    border-radius: 5px;
   
    transition: 0.1s all ease;
}